// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small{
  font-size: 0.8em;
}

.smaller{
  font-size: 0.6em;
}

.dim {
  color: #888 !important;
}
